:root {
  /* white text */

  --secondary-dark: #65499c;
  /* black text */

  --secondary-color: #9575cd;
  --secondary-light: #c7a4ff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.btn {
  background-color: var(--secondary-color);
}

#memberships {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}

.display-2 {
  color: var(--secondary-light);
}

.membershipCard {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 30%;
  padding: 30px;
  border-radius: 5px;
}
.card {
  max-width: 30%;
}

@media (max-width: 576px) {
  .membershipCard {
    max-width: 75%;
  }
  .card {
    max-width: 75%;
  }
}
